VITE_SUPABASE_URL="https://slbdpozagimgydanomxk.supabase.co"
VITE_SUPABASE_ANON_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InNsYmRwb3phZ2ltZ3lkYW5vbXhrIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzU1Mzg2NjgsImV4cCI6MjA5MTExNDY2OH0.j2m_1QuvUBfUyxsGecOPYzaseDlm1PlqYIV_Jgp57vo"

# EmailJS
VITE_EMAILJS_SERVICE_ID="service_f2vdppi"
VITE_EMAILJS_TEMPLATE_ID="template_e5ew0em"
VITE_EMAILJS_PUBLIC_KEY="Sp3LGK6kWrnii2Nej"   